<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <title>About</title>
    <link href="/img/weather.png" rel="icon">
  </head>
  <body>
    <div class="main-content"> 
      {{>header}}
      <img class="portrait" src="/img/robot.png">
      <p>My name is {{name}}</p>
    </div>
    
      
   
    {{>footer}}
    
  </body>
</html>